.navbar {
    background-color:salmon;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 2px;
}

.navbar-home {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;

}

.navbar-title {
    font-size: 20px;
    color: white;
}

#home-logo {
    height: 50px;
    width: 50px;
}

.front-page-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#front-page-photo {
    max-width: 45%;
    height: auto;
    margin: 20px;
}

@media screen and (max-width: 479px) {
    .navbar {
        flex-direction: column;
    }

    .front-page-content {
        flex-direction: column;
    }

    #front-page-photo {
        max-width: 75%;
        height: auto;
        margin-top: 30px;
    }

}



.front-page-introduction {
    margin: 20px;
}

.footer-links {
    height: 25px;
    width: auto;
    margin: 5px;
}

#social-footer {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 20px;
}