p,
a,
h1,
h2,
h3,
h4,
label,
textarea,
input,
button {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: #ecf8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-bottom: solid black 2px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
  background-color: #e5e5e5;
  min-height: 100vh;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-links {
  text-decoration: none;
  color: black;
  margin: 10px;
  font-weight: 900;
}

.navbar-links:visited {
  color: black;
}

.navbar-title {
  font-size: 20px;
}

.navbar-logo {
  height: auto;
  width: 60px;
}

.front-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#front-page-photo {
  width: 50%;
  margin: 20px;
}

#home-photo {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

#introduction-content {
  font-size: 20px;
  padding: 30px;
}

#front-page-introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

#skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-page-skills-icons {
  height: auto;
  width: 10%;
  margin: 20px;
}

.footer-links {
  height: 25px;
  width: auto;
  margin: 5px;
  text-decoration: none;
  -webkit-transition: 2s;
  transition: 2s;
}

.footer-links:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 2s;
  transition: 2s;
}

#social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

#home-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#contact-me-form {
  width: 50%;
  padding: 50px;
}

#contact-button {
  margin-top: 30px;
  height: 50px;
  width: 100px;
  background-color: black;
  border: none;
  color: white;
}

#contact-button:hover {
  background-color: white;
  color: black;
}

.contact-page-social-links {
  height: auto;
  width: 100px;
}

label {
  margin-top: 20px;
  margin-bottom: 10px;
}

textarea {
  border: none;
  border-bottom: 1px solid black;
  background-color: #e5e5e5;
}

input {
  border: none;
  border-bottom: 1px solid black;
  background-color: #e5e5e5;
}

#contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contact-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
}

.contact-page-social-links:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 2s;
  transition: 2s;
}

.social-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.blog-photo {
  height: 200px;
  width: auto;
  margin: 10px;
  border-radius: 10%;
}

.blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid black;
  border-radius: 30px;
  margin: 30px;
  background-color: #eee4e1;
}

.read-more-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin-bottom: 10px;
}

.read-more-link:visited {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.blog-date {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.blog-post-preview {
  width: 70%;
}

#blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-links {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.blog-links:visited {
  text-decoration: none;
  color: black;
}

.photo-within-blog-post {
  width: 75%;
  height: auto;
  margin: 20px;
}

.blog-post-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-writing {
  width: 80%;
}

@-webkit-keyframes opacity-animation {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.timeline-block {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  margin: 10px;
  -webkit-animation-name: opacity-animation;
          animation-name: opacity-animation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.experience-block {
  background-color: #eee4e1;
}

.education-block {
  background-color: #e7d8c9;
}

.education-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.experience-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.experience-title {
  text-align: center;
  font-size: 30px;
}

.timeline-photo {
  width: 45%;
  height: auto;
  padding: 20px;
  border-radius: 50%;
}

#resume-download-button {
  border: none;
  color: white;
  background-color: black;
  height: 50px;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  margin-top: 100px;
}

#resume-download-button:hover {
  color: black;
  background-color: white;
}

.about-me-title1,
.about-me-title2,
.about-me-title3,
.about-me-title4,
.about-me-title5 {
  position: absolute;
}

.about-me-header {
  font: 400 40px 'Berkshire Swash', Helvetica, sans-serif;
  color: white;
  text-shadow: 1px 1px 0px black, 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-content-photo {
  max-width: 100%;
  height: auto;
}

.about-content-photo:hover {
  opacity: 50%;
  -webkit-transition: 2s;
  transition: 2s;
}

@media screen and (max-width: 479px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links {
    font-size: 11px;
  }
  .front-page-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #front-page-photo {
    width: 95%;
    height: auto;
    margin-top: 30px;
  }
  #social-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #front-page-introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    margin: 10px;
  }
  .home-page-skills-icons {
    width: 10%;
    height: auto;
  }
  #introduction-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
  }
  #skills-content {
    margin: none;
  }
  .about-me-header {
    font-size: 20px;
  }
  .about-content-photo {
    opacity: 70%;
  }
  #contact-me-form {
    width: 80%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #contact-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-page-social-links {
    height: 50px;
    width: auto;
  }
  #contact-social-links {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-tile {
    width: 20%;
    margin: 10px;
  }
  .blog-post {
    max-width: 90%;
    margin: 30px;
  }
  .blog-photo {
    height: 175px;
    width: auto;
    margin: 10px;
  }
  .blog-post-preview {
    width: 80%;
  }
  .experience-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .timeline-photo {
    width: 90%;
    height: auto;
    border-radius: 50%;
  }
  .timeline-block {
    margin: 5px;
    width: 99%;
    font-size: 11px;
  }
  #resume-download-button {
    font-size: 13px;
  }
  #submit-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (max-width: 1023px) and (min-width: 479px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .front-page-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #front-page-photo {
    width: 95%;
    height: auto;
    margin-top: 30px;
  }
  #social-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #front-page-introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    margin: 10px;
  }
  .home-page-skills-icons {
    width: 10%;
    height: auto;
  }
  #introduction-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #skills-content {
    margin: none;
  }
  .experience-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact-me-form {
    width: 80%;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #contact-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-page-social-links {
    height: 50px;
    width: auto;
  }
  #contact-social-links {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  #submit-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .blog-post {
    margin: 30px;
  }
  .blog-photo {
    height: 175px;
    width: auto;
    margin: 10px;
  }
  .about-content-photo {
    opacity: 70%;
  }
  .timeline-photo {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
  }
  .timeline-block {
    margin: 5px;
    width: 99%;
  }
  #introduction-content {
    font-size: 20px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=style.css.map */